* {
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;//文本修饰,none为删去下划线
}

//animation动画shake的行为
@keyframes shake {
    0%, 100% {
      text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f00;
    }

    25% {
      text-shadow: 1.5px 1.5px 0 #0ff, -1.5px -1.5px 0 #f00;
    }

    50%{
      text-shadow: 1.5px -1.5px 0 #0ff, 1.5px -1.5px 0 #f00;
    }

    75%{
      text-shadow: -1.5px 1.5px 0 #0ff, -1.5px 1.5px 0 #f00;
    }
}